*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Montserrat', sans-serif;
}

body{
  height:100vh;
  background:linear-gradient(135deg,#ff9a9e,#fad0c4);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  color:#fff;
}

.container{
  text-align:center;
  background:rgba(255,255,255,0.18);
  padding:50px;
  border-radius:25px;
  backdrop-filter:blur(10px);
  box-shadow:0 20px 40px rgba(0,0,0,0.25);
  animation:fadeIn 2s ease;
  max-width:600px;
  position:relative;
  z-index:2;
}

.hidden{
  opacity:0;
  pointer-events:none;
}

.heart-scene{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#ff758c,#ff7eb3);
  z-index:5;
}

.heart{
  font-size:120px;
  position:absolute;
  transition:all 2s ease;
}

.heart-scene.open .left{
  transform:translateX(-160px) rotate(-20deg);
  opacity:0;
}

.heart-scene.open .right{
  transform:translateX(160px) rotate(20deg);
  opacity:0;
}

h1{
  font-family:'Great Vibes', cursive;
  font-size:3.5rem;
  margin-bottom:15px;
}

h2{
  margin-top:20px;
  font-size:1.4rem;
}

p{
  font-size:1.05rem;
  margin-bottom:20px;
  line-height:1.6;
}

.buttons{
  margin-top:30px;
  display:flex;
  justify-content:center;
  gap:25px;
}

button{
  padding:12px 30px;
  border:none;
  border-radius:30px;
  font-size:1rem;
  cursor:pointer;
  transition:.3s;
}

#yesBtn{
  background:#ff4d6d;
  color:#fff;
}

#yesBtn:hover{
  transform:scale(1.1);
  box-shadow:0 0 20px rgba(255,77,109,.7);
}

#noBtn{
  background:#fff;
  color:#ff4d6d;
  position:relative;
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}

.fade-text{
  opacity:0;
  animation:fadeUp 1.6s forwards;
}

@keyframes fadeUp{
  from{opacity:0; transform:translateY(25px);}
  to{opacity:1; transform:translateY(0);}
}

@keyframes pulse{
  0%{transform:scale(1);}
  50%{transform:scale(1.08);}
  100%{transform:scale(1);}
}

.pulse{
  animation:pulse 1.6s infinite;
}


.hearts span{
  position:absolute;
  bottom:-50px;
  font-size:20px;
  animation:float 8s linear infinite;
}

@keyframes float{
  0%{transform:translateY(0); opacity:1;}
  100%{transform:translateY(-110vh); opacity:0;}
}


.sparkle{
  position:absolute;
  font-size:22px;
  animation:sparkle 2s linear forwards;
}

@keyframes sparkle{
  0%{opacity:1; transform:scale(0.5);}
  100%{opacity:0; transform:scale(2);}
}
